.ProductPurchase {
    margin: 10px auto;
    padding-left: 30px;
}

.ProductPurchase label {
    font-size: 20px;
}

.ProductPurchase input{
    height: 30px;
    width: 280px;
}

.ProductPurchase div{
    margin-bottom: 7px;
}

.ProductPurchase .LeftDiv {
    margin-top: 20px;
    width: 80%;
    display: block;
}

.ProductPurchase .ButtonCancel {
    margin-top: 25px;
    width: 100px;
    margin-right: 35px;
    background-color: #dc3545;
}

.ProductPurchase .ButtonCancel:hover{
    border: #dc3545;
    outline-color: #dc3545;
}

.ProductPurchase .ButtonRegister {
    margin-top: 25px;
    width: 100px;
    margin-right: 35px;
}
