.SupplierEditForm {
    margin: 10px auto;
    padding-left: 30px;
}

.SupplierEditForm label {
    display: block;
    font-size: xx-large;
}

.SupplierEditForm input{
    height: 30px;
    width: 560px;
}

.ProductPurchase .LeftDiv {
    margin-top: 20px;
    width: 50%;
    display: block;
}

.ProductPurchase .ButtonCancel {
    margin-top: 25px;
    width: 100px;
    margin-right: 35px;
    background-color: #dc3545;
}

.ProductPurchase .ButtonCancel:hover{
    border: #dc3545;
    outline-color: #dc3545;
}

.ProductPurchase .ButtonRegister {
    margin-top: 25px;
    width: 100px;
    margin-right: 35px;
}
