.ProductEditForm {
    margin: 10px auto;
    padding-left: 30px;
}

.ProductEditForm label {
    display: block;
    font-size: larger;
}

.ProductEditForm input{
    height: 30px;
    width: 280px;
}

.ProductEditForm .RightDiv {
    margin-top: 20px;
    float: right;
    width: 50%;
    display: inline-block;
}

.ProductEditForm .LeftDiv {
    margin-top: 20px;
    width: 50%;
    display: block;
    float: left;
}

.ProductEditForm .ButtonCancel {
    margin-top: 25px;
    width: 100px;
    margin-right: 35px;
    background-color: #dc3545;
}

.ProductEditForm .ButtonCancel:hover{
    border: #dc3545;
    outline-color: #dc3545;
}

.ProductEditForm .ButtonRegister {
    margin-top: 25px;
    width: 100px;
    margin-right: 35px;
}
