.InfoTable  {
    border-radius: 10px 10px 0 0;
    border-collapse: collapse;
    margin-left: 50px;
    margin-bottom: 70px;
    overflow-y: scroll;
}

.InfoTable tbody tr:hover {
    //background-color: rgba(45, 146, 230, 0.23);
    background-color: rgba(40, 167, 69, 0.25);
    cursor: pointer;
}

td {
    width: auto;
}

