.RowData {
    padding-top:7px;

}

.RowDataOrder {
    width: 330px;
}

.RowDataToBePaid {
    width: 175px;
    text-align: center;
}

.RowDataTimeClock {
     width: 100px;
     position: center;
 }
